---
import { getCollection } from 'astro:content'

import { Post } from '@ohayo/react-ui'
import { GitHubRibbon } from '@ohayo/vue-ui'

import BaseHead from '../components/BaseHead.astro'
import BlogHeader from '../components/BlogHeader.astro'
import BlogFooter from '../components/BlogFooter.astro'
import PaginationBase from '../components/PaginationBase.astro'

let title = '金曜日のエンジニアのつどい'
let description = '週刊でエンジニア界隈の最新情報を記録しています'
let permalink = 'https://ohayo-friday.nekohack.me/'
let author = 'jiyuujin'

const allPosts = await getCollection('posts')
const allPostsSize = allPosts.length

const PAGENATE = 5

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('posts')
  const formattedPosts = allPosts.sort((a, b) => a.data.date.getTime() - b.data.date.getTime()).reverse()
  const PAGENATE = 5

  return paginate(formattedPosts, {
    pageSize: PAGENATE,
  })
}

const { page } = Astro.props

// const origin = new URL(Astro.request.url).origin
const origin = 'https://ohayo-friday.nekohack.me'
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
    <style>
      .header {
        z-index: 199;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        transition: 200ms;
      }

      .content {
        padding: 8px 16px;
        max-width: 1246px;
        margin: 0 auto;
      }

      .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto, 1fr, auto);
        padding: 8px 16px;
      }

      .pagination-wrapper {
        padding: 8px 0;
      }

      @media(min-width: 1024px) {
        .content {
          /*padding: 160px 40px;*/
          padding: 40px 40px;
        }

        .grid {
          padding: 8px 48px;
        }
      }
    </style>
  </head>

  <body>
    <GitHubRibbon />
    <div class="header">
      <BlogHeader title={title} description={description} />
    </div>
    <div class="content">
      <h2>投稿の一覧</h2>
      <div class="grid" aria-label="Blog post list">
        {page.data.map((p) =>
          <Post
            url={`/posts/${p.slug}`}
            date={p.data.title}
            title={p.data.explain}
          />
        )}
      </div>
      <div class="pagination-wrapper">
        <PaginationBase
          currentPage={page.currentPage}
          totalPage={Math.ceil(allPostsSize / PAGENATE)}
          perPage={PAGENATE}
          firstUrl={origin}
        />
      </div>
    </div>
    <div class="footer">
      <BlogFooter {author} />
    </div>
  </body>
</html>
