---
export type Props = {
  title: string
  description: string
  permalink: string
  image?: string
}

const { title = '金曜日のエンジニアのつどい', description, permalink, image } = Astro.props;
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@nekohack/normalize.css/dist/index.css" />-->

<title>{title}</title>
<meta name="title" content={title}/>
{description && <meta name="description" content={description}/>}

<script is:inline src="https://embed.zenn.studio/js/listen-embed-event.js"></script>

<!-- Open Graph Tags (Facebook) -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content={title} />
<meta property="og:title" content={title} />
{permalink && <meta property="og:url" content={permalink} />}
{description && <meta property="og:description" content={description} />}
{image && <meta property="og:image" content={image} />}

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:title" content={title} />
{permalink && <meta property="twitter:url" content={permalink} />}
{description && <meta property="twitter:description" content={description} />}
{image && <meta property="twitter:image" content={image} />}
