---
import { getCollection } from 'astro:content'

import { Post } from '@ohayo/react-ui'

import BaseHead from '../components/BaseHead.astro'
import BlogHeader from '../components/BlogHeader.astro'
import BlogFooter from '../components/BlogFooter.astro'
import GitHubRibbon from '../components/GitHubRibbon.vue'

let title = 'AIer.info'
let description = '週刊でAI界隈の最新情報を記録しています'
let permalink = 'https://ohayo-ai.nekohack.me/'
let author = 'jiyuujin'

const allPosts = (await getCollection('posts')).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
)
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
    <style>
      body {
        background: rgba(167, 123, 243, 0.1);
      }

      .header {
        z-index: 199;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        transition: 200ms;
      }

      .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto, 1fr, auto);
        padding: 8px 48px;
      }

      .grid {
        border-bottom: 1px solid #e6f6f5;
      }

      @media(min-width: 768px) {
        .grid {
          padding: 8px 16px;
        }
      }
    </style>
  </head>

  <body>
    <GitHubRibbon />
    <main>
      <div class="header">
        <BlogHeader description={description} />
      </div>
      <div class="content">
        <div class="grid" aria-label="Blog post list">
          {allPosts.map((p) =>
            <Post
              url={`/posts/${p.slug}`}
              title={`${p.data.title}: ${p.data.explain}`}
            />
          )}
        </div>
        </div>
      <div class="footer">
        <BlogFooter {author} />
      </div>
    </main>
  </body>
</html>
